.home-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}
#heyou{
    align-self:center;
}
#form-container{
    margin: 5px;
}
.formTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}
   
